@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 630px) {
  .hero {
    .container {
      flex-direction: column;
      text-align: center;

      img {
        order: -1;
      }
    }

  }

  .form-group {
    display: block;

    .input-control {
      width: 100%;
    }
  }
}

@media screen and (max-width: 540px) {
  nav {
    display: none;
  }
  .one, .two, .three {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  .menu-section {

    &.on {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #7159c1;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;

      nav {
        display: block;

        ul {
          text-align: center;
          display: block;

          a {
            transition-duration: 0.5s;
            font-size: 3rem;
            line-height: 4rem;
            display: block;
          }
        }
      }

      .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
        margin-right: 20px;

        .one {
          transform: rotate(45deg) translate(7px, 7px);
        }

        .two {
          opacity: 0;
        }

        .three {
          transform: rotate(-45deg) translate(8px, -10px);
        }

      }
    }
  }
}

@media screen and (max-width: 320px) {
  #form {
    h3 {
      font-size: 2rem;
    }
  }
}

//PARA IMPRESSAO

@media print {
  header, .hero, .image, #form {
    display: none;
    padding: 0;
    margin: 0;
  }

  .cards {
    display: block;
  }

  .card {
    border-bottom: 1px solid;
  }

  .text--medium {
    color: black;
  }
}
