@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  //a cada 1 rem sera considerado 10px
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}


h2 {
  color: rgb(75, 75, 75);
  font-size: 3.6rem;
  line-height: 4.6rem;
}

h3 {
  color: rgb(75, 75, 75);
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.button {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(113, 89, 193);
  margin: 15px 0 0;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;

  &:hover {
    opacity: 0.9;
  }
}



